{% extends 'base.html.twig' %}
{% block title %}New User{% endblock %}
{% block body %}
    <h1 class="titulo3">CREATE USER</h1>

    <div class="form-new_user">
      <form name="appbundle_user" id="form-user" method="post" action="{{ path('user_create')}}">
          <div id="appbundle_user">
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="flash-notice">
                  <a>{{ flash_message }}</a>
                </div>
            {% endfor %}
            <div class="div_name">
                <label for="nombre" class="lab_user">Name:</label>
                <input class="txt_box_user1" type="text" id="text-nombre" name="nombre" required="required" maxlength="50" />
            </div>
            <div class="div_username">
                <label for="username" class="lab_user">Username:</label>
                <input class="txt_box_user1" type="text" id="text-username" name="username" required="required" maxlength="30" />
            </div>
            <div class="div_pass">
                <label for="password" class="lab_user">Password:</label>
                <input class="txt_box_user1" type="password" id="text-password" name="password" required="required" />
            </div>
            <div class="div_confirpass">
                <label for="confirmacion" class="lab_user1">Confirm <br>
                  Password:</label>
                <input class="txt_box_user1" type="password" id="text-confirmacion" name="confirmacion" required="required" />
            </div>
            <div class="contenedor_permisos">
              <a class="required">Select User Permissions:  <span class="icon-key2"></a><br>
              <div class="per-tab">
                <a id="op" class="optAd">Administrador </a><input class="checked-btn" id="checkAdm" type ="checkbox" name="opcionAdmin" value = "Administrador" onclick="checkAdmin();"></input>
                  <table id="list-perm"class="table table-hover">
                      <thead>
                          <tr>
                              <th><a id="op" class="opt1">Categorias</a></th>
                              <th><a id="op" class="opt1">Modificar</a></th>
                              <th><a id="op" class="opt1">Ver</a></th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for categoria in categorias %}
                          <tr>
                              <td id="td_cat">{{ categoria.nombre}}</td>
                              <td id="td_cat"><input class="checked-btn" id="checkMo_{{ categoria.nombre }}" type ="checkbox" name="opciones" value = "Modificar_{{ categoria.nombre}}" onclick="checks();"></td>
                              <td id="td_cat"><input class="checked-btn" id="checkVe_{{ categoria.nombre }}" type ="checkbox" name="opciones" value = "Ver_{{ categoria.nombre}}" onclick="checks();" ></td>
                          </tr>

                        {% endfor %}
                      </tbody>
                  </table>

              </div>
            </div>


            <div>
              <textarea id="appbundle_user_permisos" name="permisos" style=" display:none;" maxlength="65535"></textarea>
              <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
            </div>

          </div>
      </form>

      <div id="mensaje_form" style="display:none">
        <a class="mensaje_form">Faltan campos por diligenciar</a>
      </div><br>
      <br><div class="div_btn_crear">
        <button onclick="validarUser();" class="btn-crear1" value="Create">Create   <span class="icon-user-plus"></span></button>
      </div>

    </div>
    <script type="text/javascript">
        var fila = -1;
        function gId(id)
        {
            return document.getElementById(id);
        }

        function checkAdmin() {
          var inputElements = document.getElementsByName('opciones');
          if (document.getElementsByName('opcionAdmin').checked = true)
          {
            for(var i=0; inputElements[i]; ++i){
							  if(inputElements[i].checked){
								   inputElements[i].checked = false;
							  }

            gId("appbundle_user_permisos").value = "Administrador";
						}
          }
        }
        function checks()
        {
          var chek= event.target.id.split("_");

          if (chek[0] == "checkMo"){
            if (gId("checkMo_"+chek[1]).checked){
              gId("checkVe_"+chek[1]).checked=false;
            }
          }
          if (chek[0] == "checkVe"){
            if (gId("checkVe_"+chek[1]).checked){
              gId("checkMo_"+chek[1]).checked=false;
            }
          }
          var checkedValue = null;
          var inputElements = document.getElementsByName('opciones');
          var opc ="";
          for(var i=0; inputElements[i]; ++i){
              if(inputElements[i].checked){
                 gId("checkAdm").checked = false;
                 checkedValue = inputElements[i].value;
                 opc= opc+checkedValue+";";

              }
          }

          gId("appbundle_user_permisos").value = "";
          gId("appbundle_user_permisos").value = opc;
        }

        function validarUser(){
            var todo_correcto = true;

            if(document.getElementById('text-nombre').value == "" )
            {
              todo_correcto = false;
            }
            if(document.getElementById('text-username').value == "" )
            {
              todo_correcto = false;
            }
            if(document.getElementById('text-password').value == "" )
            {
              todo_correcto = false;
            }
            if(document.getElementById('text-confirmacion').value == "" )
            {
              todo_correcto = false;
            }

            if(document.getElementById('appbundle_user_permisos').value == "")
            {
              todo_correcto = false;
            }
            var campo = document.getElementById('appbundle_user_permisos').value;
            if(!document.getElementById('checkAdm').checked && campo == "Administrador")
            {
              todo_correcto = false;
            }
            if(!todo_correcto)
            {
              gId("mensaje_formulario").style.display='block';
            }
            if(todo_correcto)
            {
              gId("form-user").submit();
            }

            return todo_correcto;
        }
        function permiso()
        {

          var checkedValue = null;
          var inputElements = document.getElementsByName('opciones');
          var opc ="";
          for(var i=0; inputElements[i]; ++i){

              if(inputElements[i].checked){
                 checkedValue = inputElements[i].value;

                 gId("appbundle_user_permisos").value += checkedValue+";";

              }
          }
          gId("form-user").submit();




        }
    </script>

{% endblock %}
